body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.contenedor{

    width: 800px;
    height: fit-content;
    border: 5px solid black;

}
.pagina{

    margin: 10px;
}

header {
    text-align: left;
    border-bottom: 2px solid black;
    padding-left: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

main {
    display: flex;
    margin-left: 25px;
}

.fecha{

    font-size: 16px;

}

.lorem{

    margin-bottom: 30px;

}

.loremText {
    width: 500px;
    background-color: rgb(220, 220, 220);
    padding: 5px; 
    padding-left: 20px;  
}

.loremText h2{

    font-size: 20px

}

aside {
    flex: 1;
    margin-left: 20px;
    font-size: 18px;
}

.acerca .name{

    margin-left: 40px;

}

footer {
    border-top: 1px solid black;
    text-align: center;
    font-size: 20px;
}