@font-face {
    font-family: "LuckiestGuy";
    src: url("../fuentes/LuckiestGuy-Regular.ttf");
}

@font-face {
    font-family: "Abel";
    src: url("../fuentes/Abel-Regular.ttf");
}

body{
    
    height:fit-content;
    background: linear-gradient(rgba(215,78,51,255), white);
    padding: 15px;
    padding-right: 25px;
    box-sizing: border-box;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: fit-content;
    width: fit-content;
    border-radius: 35px;
    box-shadow: 10px 10px 10px gray;
    
}


/*------ HEADER ------*/

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    background: linear-gradient(to top, #3e9bc9, #0870b7);
    border-bottom: solid 10px black;
    border-radius: 35px 35px 0px 0px;
}

header > *{

    padding: 20px;

}

header > h1 {
    font-family: LuckiestGuy;
    letter-spacing: 5px;
    color: white;
    margin-left: 20px;
    font-size: 36px;
    
}

header > img {
    width: 70px;
    margin-right: 20px;
}

/*------ MENUS ------*/

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: fit-content;
    background: linear-gradient(to top, #ffdc40, #ab901a);
    text-align: center;
    position: relative;
}

nav img{
    margin-top: 20px;
}

ul{

    margin: 0;

}

ul > p {
    font-family: LuckiestGuy;
    letter-spacing: 5px;
    font-size: 28px;
    width: fit-content;
    color: white;
    text-shadow: 2px 2px #f06529;
    transition: text-shadow 0.5s ease;
}

ul > p:hover {
    text-shadow: 0px 0px 5px #ff7e42;
}

/*--- SUBMENU VIDEO ---*/

.videos:hover .submenuVid {
    display: block;
}

.submenuVid {
    display: none;
    position: absolute;
    top: 100%;
    background: #e34c26;
    border-radius: 0 0 10px 10px;
    padding: 5px 0;
    width: 100px;
    text-align: center;
    z-index: 10;
}


/* Triangulo */
.submenuVid::before {
    content: "";
    position: absolute;
    top: -10px;
    transform: translateX(-50%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #e34c26;
}

.submenuVid li {
    list-style: none;
    margin: 5px 0;
}

.submenuVid li:nth-child(odd) {
    background-color: #f06529;
}

.submenuVid li:hover{
    background-color: #ff7e42;
}

.submenuVid li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 5px 10px;
}


/* PAGINA PRINCIPAL*/

section{

    display: flex;
    width: 100%;
    height: fit-content;
    background-color: white;
    text-align: center;

}

article {
    position: relative;
    border-style: solid;
    border-width: 70px 20px 50px 20px;
    border-image: url(../img/movil.png);
    border-image-slice: 70 20 50 20;
    border-image-repeat: stretch;
    margin: 50px;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 10px;
    width: 300px;
    justify-content: space-around;
    background-color: white;
    
}

article:nth-of-type(1){

    transform: rotate(-5deg);

}

article:nth-of-type(3){

    transform: rotate(5deg);

}

/* Chincheta */
article:nth-of-type(1) > img:nth-child(1) {
    position: absolute;
    top: -15%;
    right: 7%;
}

article:nth-of-type(2) > img:nth-child(1) {
    position: absolute;
    top: -15%;
    right: 40%;
}

article:nth-of-type(3) > img:nth-child(1) {
    position: absolute;
    top: -15%;
    left: 7%;
}

article img:nth-child(2){

    width: 300px;

}

.img-js{

    background-image: radial-gradient(red, yellow, green);

}

article > h1 {

    font-size: 25px;
    font-family: Abel;

}

article > text{

    font-size: 20px;
    font-family: Abel;

}

text{

    display: flex;
    text-align: center;
    font-size: 18px;
    border-top: solid 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;

}

/* FOOTER */

footer{

    background: linear-gradient(to bottom, #3e9bc9, #0870b7);
    border-top: solid 10px black;
    border-radius: 0px 0px 35px 35px ;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
    color: white;
    width: 100%;

}