.capsula {

    height: 750px;
    width: 750px;
    margin: 5px;
    border: solid rgb(0, 0, 0) 5px;
    background-color: rgba(128, 128, 128, 0.207);
    align-items: center;

}

.titulo{

    margin-left: 20px;
    font-size: 20px;

}

ul.navegacion{

    display: inline;
    font-size: 30px;

}