body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

main {
    width: 75%;
    margin: 20px;
    padding: 20px;
    background-color: #848484;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input{
    display: flex;
    align-items: center;
    width: 80%;
    padding: 10px;
    border: white;
    border-bottom: 3px dotted #000000;
    
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}